body
{
    margin: 0px;
    background-color: yellow;
    
}
hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}
.yellow
{
    background-color: yellow;
    color: black;
}
input[type=text]
{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 1.1em;
    width: 50%;
    padding: 10px;
    border: 3px solid white;
    border-radius: 4px;
}
input[type=text]:focus {
    outline: none;
    border: 2px solid yellow;
}
button
{
    text-align: center;
    padding: 12px;
    width: 10.5%;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
       
}
button:hover
{
    background-color: rgb(255, 238, 0);
    color: black;
    border: 2px solid black;
    transition: all 0.7s ease 0s;
}


.container
{   
    background: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.container h1
{
    font-family: 'Major Mono Display', monospace;
    font-size: 4em;
}
.container p
{
    font-family: 'Asap Condensed', sans-serif;
}
.items
{
    margin: 5px;
    text-align: center;
    flex-grow: 1;
}
.container-2
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 15px;    
}

.itemss
{
    line-height: 1.6;
    align-self: flex-start;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 1.3rem;
}
.itemss h1
{
    font-family: 'Major Mono Display', sans-serif;
}
.white
{
    background-color: black;
    color: white;
    font-family: 'Major Mono Display', sans-serif;

}
.socials
{
    display: flex;
    flex-basis: row wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.social 
{
    margin: 15px;
    font-size: 1.3em;
}
.social a
{
    color: white;
}
.social a:hover
{
    color:yellow;
    transition: all 0.3s ease 0s;
}